.header {
   border-bottom: 2px dashed @navigation-border;
   padding: 2rem 0;
   width: 100%;
   
   
   nav {
      .custom-layout(space-between, center);
      
      ul {
         width: 35%;
         .custom-layout(space-evenly);

         li {
            
            a {
               color: @font-color;
               font-size: 1.6rem;
               text-decoration: none;
            }
            a:visited {
               color: @font-color;
            }
            a:hover{
               color: @button-bg;
            }
         }
      }
   }
}